<% layout('layout') -%>

<div class="row">
  <div class="col-lg-6 col-md-offset-3">
<% if(message.length>0) { %>
<div class="alert alert-success alert-dismissible"><button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>
<%= message %>
</div>
<% } %>
  <form method="post">
      <h1> Add Product </h1>

      <div class="form-group">
        <label="name">Name: </label>
        <input type="text" class="form-control" name="name">
      </div>
      <div class="form-group">
        <label="name">Price: </label>
        <input type="text" class="form-control" name="price">
      </div>
      <div class="form-group">
        <label="name">Category: </label>
        <select class="form-control" name="id">
        <% for(var i=0;i<categories.length;i++) { %>
        <option value="<%= categories[i]._id %>"><%= categories[i].name %></option>
        <% } %>
        </select>
      </div>
      
      <button type="submit" class="btn btn-success">Add</button>

    </form>
  </div>
</div>