<% layout('lay') -%>

<div class="container">
<div class="row">
<div class="col-sm-4">
<a href="/admin/add-category" class="btn btn-primary">Add Category</a>
</div>
<div class="col-sm-4">
<a href="/admin/add-product" class="btn btn-primary">Add Product</a>
</div>
<div class="col-sm-4">
</div>
</div>
</div>